@model IdentityApp.Models.FilterViewModel

@foreach (var item in Model.SaleInfo)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaleInfoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfSale)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", "Admin", new { id = item.SaleInfoId }, null) |
                @Html.ActionLink("Details", "Details", "Admin", new { id = item.SaleInfoId }, null) |
                @Html.ActionLink("Delete", "Delete", "Admin", new { id = item.SaleInfoId }, null)
            </td>
        }
    </tr>
}