@model WEB.Models.FilterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Sort by manager:</label>
        @Html.DropDownList("managerName", Model.Managers as SelectList, htmlAttributes: new {@class = "form-control", style = "width: 200px;"})

        <label class="control-label">Sort by date of sale:</label>
        @Html.DropDownList("dateOfSale", Model.DatesOfSale as SelectList, htmlAttributes: new { @class = "form-control", style = "width: 100px;" })

        <label class="control-label">Sort by product:</label>
        @Html.DropDownList("productName", Model.Products as SelectList, htmlAttributes: new { @class = "form-control", style = "width: 250px;" })

        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>

<table>
    <tr>
        <th>ProductName</th>
        <th>ProductPrice</th>
        <th>ClientName</th>
        <th>ManagerName</th>
        <th>DateOfSale</th>
    </tr>
    
    @foreach (var item in Model.SaleInfo)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSale)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.SaleInfoId  }) |
                @Html.ActionLink("Details", "Details", new { id = item.SaleInfoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SaleInfoId })
            </td>
        </tr>
    }
</table>