@model IEnumerable<Model.SaleInfo>

<p>
    @Html.ActionLink("Products", "Products")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SaleInfoId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SaleInfoId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SaleInfoId })
            </td>
        </tr>
    }

</table>
